<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html lang="en" ng-app="agFuture">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AgFuture -- smart application for farmers</title>

    <!-- Custom CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">

    <script src="app/resources/jquery/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="app/resources/js/angular.js" type="text/javascript"></script>
    <script src="app/resources/js/app.js" type="text/javascript"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Page Content -->
<div class="container">
    <div class="nav">
        <p class="logo">AG FUTURE</p>
    </div>
    <div class="nav-empty">

    </div>
    <div class="row">

        <!--left side grouping-->
        <div class="col-md-3">
            <p class="lead">Facilities / Fields</p>
            <div class="list-group">
                <a href="#" class="list-group-item">Indoor / Green Houses</a>
                <a href="#" class="list-group-item">Outdoor Fields</a>
            </div>
            <button href="#form_modal" type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal">Add
            </button>
        </div>

        <div class="col-md-9" ng-controller="dataController">
            <div ng-repeat="image in images">
                <div class="farm">
                    <figure class="farm-figure">
                        <a href="analyses.html?fid={{$index}}&fname={{image.name}}&fl={{image.location}}/" class="portfolio-link" data-toggle="modal">
                            <img class='farm-img' src="{{image.photo}}"/>
                        </a>
                    </figure>
                    <div class="farm-caption">
                        <p class="farm-text farm-title">{{image.name}}</p>
                        <br>
                        <p class="farm-text">Location: {{image.location}}</p>
                        <p class="farm-text">Products: </p>
                        <ul class="farm-productlist" ng-repeat="name in image.products">
                            <li class="farm-text">{{name}}</li>
                        </ul>
                    </div>
                </div>
            </div>


            <!--form_modal -->
            <div class="portfolio-modal modal fade" id="form_modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl">
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Facility Name</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1"
                                                   placeholder="Facility Name">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Location</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1"
                                                   placeholder="Location">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Orientation</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1"
                                                   placeholder="Orientation">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Soil Quality</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1"
                                                   placeholder="Soil Quality">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Products</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1"
                                                   placeholder="Products">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputFile">Picture</label>
                                            <input type="file" id="exampleInputFile">
                                        </div>
                                        <button type="submit" class="btn btn-default">Add Facility</button>
                                    </form>
                                    <button type="button" class="btn btn-default" data-dismiss="modal"><i
                                            class="fa fa-times"></i> Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>


<!-- /.container -->

<div class="container">

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; AgFuture 2016</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->


<!-- jQuery -->
<script src="jquery/fetchdata.js" type="text/javascript"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>


<!-- Custom Theme JavaScript -->
<script src="js/freelancer.js"></script>

</body>

</html>
